

<ion-item>
  <ion-label position="floating">Entidad: </ion-label>
  <ion-input required type="text" name="nombre" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Nombre de usuario: </ion-label>
  <ion-input required type="text" name="nombre" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Conteaseña: </ion-label>
  <ion-input required type="text" name="nombre" ></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Tipo de usuario: </ion-label>
  <ion-input required type="text" name="nombre" ></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Rol: </ion-label>
  <ion-input required type="text" name="nombre" ></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Permisos: </ion-label>
  <ion-input required type="text" name="nombre" ></ion-input>
</ion-item>