<ion-header>
  <ion-toolbar>

    <ion-title>{{entidad}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="salir()">Cerrar</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template #figureContainer></ng-template>
  <ion-button (click) = "prueba()"> prueba</ion-button>
</ion-content>
  
  

  
  
<!-- 
<ng-template appModalHost></ng-template>
<ng-template appProfileHost></ng-template> -->

<!-- <ion-content  *ngIf="entidad =='Entidad'">
  <app-formulario-entidad></app-formulario-entidad>
</ion-content>

<ion-content *ngIf="entidad =='Usuario'">
  <app-formulariousuario></app-formulariousuario>
</ion-content>

<ion-content *ngIf="entidad =='Empresa'">
  <app-formularioempresa></app-formularioempresa>
</ion-content>

<ion-content *ngIf="entidad =='Contacto'">
  <app-formularioContacto></app-formularioContacto>
</ion-content> -->



